<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attribute Cleaning</title>
    <link rel="stylesheet" href="static/css/attribute_cleaning.css">
</head>
<body>
    <p>Column Categorisation</p>
    <div class="table-container">
        <form method="post">
            <table border="1">
                <thead>
                    <tr>
                        <th>Column Name</th>
                        <th>Type</th>
                        <th>Input</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Numeric Columns -->
                    {% for col in numeric %}
                    <tr>
                        <td>{{ col }}</td>
                        <td>Numeric</td>
                        <td class="numeric">
                            <input type="number" name="{{ col }}_floor" placeholder="Floor" >
                            <input type="number" name="{{ col }}_ceil" placeholder="Ceil" >
                        </td>
                    </tr>
                    {% endfor %}
                    {% for col in categorical %}
                    <tr>
                        <td>{{ col }}</td>
                        <td>Category</td>
                        <td>

                            <select name="{{ col }}_category" multiple>
                                {% for val in categorical_data[col] %}
                                <option value="{{ val }}">{{ val }}</option>
                                {% endfor %}
                            </select>
                        </td>  
                    </tr>
                    {% endfor %}

                    <!-- Datetime Columns -->
                    {% for col in datetime %}
                    <tr>
                        <td>{{ col }}</td>
                        <td>Datetime</td>
                        <td>
                            <input type="date" name="{{ col }}_start" placeholder="Start Date">
                            <input type="date" name="{{ col }}_end" placeholder="End Date">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="continue">
                <button class="buts" id="numeric" type="submit" >Submit</button>
            </div>
        </form>
    </div>

    <label>
        <input type="checkbox" id="generateData"> Synthetic Data Generation
    </label>
    
    <div class="continue">
        <button id="continue" onclick="exportState()">Continue</button>
    </div>
    
    <script src="static/js/attribute_cleaning.js"></script>
</body>
</html>
    