<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>DataDome</title>
</head>
<body>
    <div class="logo">
        <img src="static/img/logo.jpeg" alt="DataDome" >
    </div>
    <br>
    <div class="buts" id="buts">
        <button class="button" id="addButton">Add</button>
        <div id="urlInputContainer" class="hidden">
            <input type="text" id="datasetUrl" placeholder="Enter dataset URL">
            <button class="button" id="fetchDataset">Retrieve</button>
            <div class="file-name" id="datasetInfo"></div>
            <button class="button hidden" id="continue">Continue</button>
        </div>

        <div class="browse">
            <form id="uploadForm" action="/save" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput" required>
                <button class="button" id="browseButton" type="submit" onclick="document.getElementById('fileInput').click()">Browse</button>
            </form> 
        </div>        
    </div>

    <div class="flexy" id="flexy">
        <div class="file-name" id="fileName"></div>
    </div>
    <div id="loadingScreen" class="hidden">
        <div class="loading-container">
            <div class="spinner"></div>
            <p>Processing your dataset... Please     wait.</p>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>